@using Torrent.ViewModels;
@using Core.Const;
@model TorrentViewModel



<div class="torrent_info">

    <div class="torrent_title">
        @Model.Torrent.Characteristics[CharacteristicConst.Name]
    </div>

    <div style="width: 300px;float:left;">
        <img id="img" src="@Model.Torrent.Characteristics[CharacteristicConst.Image]" height="400" />
    </div>

    <div style="width: 700px; float: right; margin-right: 200px;">

        <div style="font-size:20px">Torrent information: </div>

        <div>
            @Html.Label("Name", new { @class = "information" }):
            @Model.Torrent.Characteristics[CharacteristicConst.Name]
        </div>

        <div>
            @Html.Label("Season", new { @class = "information" }):
            @Model.Torrent.Characteristics[CharacteristicConst.Season]
        </div>

        <div>
            @Html.Label("Type", new { @class = "information" }):
            @Model.Torrent.Characteristics[CharacteristicConst.Type]
        </div>

        <div>
            @Html.Label("Release", new { @class = "information" }):
            @Model.Torrent.Characteristics[CharacteristicConst.Release]
        </div>

        <div>
            @Html.Label("Country", new { @class = "information" }):
            @Model.Torrent.Characteristics[CharacteristicConst.Country]
        </div>

        <div>
            @Html.Label("Producer", new { @class = "information" }):
            @Model.Torrent.Characteristics[CharacteristicConst.Producer]
        </div>

        <div>
            @Html.Label("Cast", new { @class = "information" }):
            @Model.Torrent.Characteristics[CharacteristicConst.Cast]
        </div>

        <div>
            @Html.Label("IMDb Link", new { @class = "information" }):
            <a href="@Model.Torrent.Characteristics[CharacteristicConst.IMDbLink]">Link </a>
        </div>

        <div>
            @Html.Label("IMDB Rating", new { @class = "information" }):
            @Model.Torrent.Characteristics[CharacteristicConst.IMDbRating]
        </div>

        <div>
            @Html.Label("Description", new { @class = "information" }):
            <div style=" overflow: auto; height:200px">
                @Model.Torrent.Characteristics[CharacteristicConst.Description] <br>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>

</div>
